<h2>
    Comments about {{this.Dog}}
</h2>
<ul>
    {{#each comments}}
    <li>{{text}} - {{user.username}}</li>
    {{/each}}
</ul>
<br>
<br>
{{#if user_id}}
<a href="/dogProfile/:id/comment/:id/edit/{{_id}}">Edit Comment</a>
<a href="/dogProfile/:id/comment/:id/delete/{{_id}}">Delete Comment</a>
{{/if}}