<article>
    <div>
        <h3>{{name}}</h3>
        <img src="/{{photo}}" alt="dogPhoto">
        <p>{{breed}}</p>
        <p>{{description}}</p>
        <a href="/dog/delete/{{_id}}">Delete dog </a>
        <a href="/dog/edit/{{_id}}">Edit dog </a>
        <a href="/dog/dogProfile/{{_id}}">See profile </a>
    </div>
</article>