<div class="dog-container">
    <article>
        <div>
            <h3>{{dog.name}}</h3>
            <img src="/{{dog.photo}}" alt="dogPhoto">
            <p>Breed: {{dog.breed}}</p>
            <p>Age: {{dog.age}}</p>
            <p>Owner: {{dog.owner}}</p>
            <p>Description:
                <br> {{dog.description}}</p>
            <div class="options">
                {{#if user.isAdmin}}
                <a href="/dog/delete/{{dog._id}}">Delete dog </a>
                {{/if}}
                <a href="/dog/edit/{{dog._id}}">Edit dog </a>
                <a href="/dog/schedule/{{dog._id}}">Pet this dog </a>
            </div>
        </div>
</div>
</article>
</div>