<div class="profile">
    <div class="dog-container" id="profile">
        <div>
            <h3>{{dog.name}}</h3>
            <div class="pictureContainer">
                <img src="/{{dog.photo}}" alt="dogPhoto">
            </div>
            <p>Breed: {{dog.breed}}</p>
            <p>Age: {{dog.age}}</p>
            <p>Owner: {{dog.owner.username}}</p>
            <p>Description:
                <br> {{dog.description}}</p>
            <p>Comments:
                <ul>
                    {{#each comments}}
                    <li>{{comment}} <br> -{{user_id.username}}</li>
                    {{/each}}
                </ul>
            </p>
            <br>
            <br>
            <div class="options">
                {{#if user.isAdmin}}
                <a href="/dog/delete/{{dog._id}}">Delete dog </a>
                <a href="/dog/edit/{{dog._id}}">Edit dog </a>
                {{/if}} {{#if isOwner}}
                <a href="/dog/delete/{{dog._id}}">Delete dog </a>
                <a href="/dog/edit/{{dog._id}}">Edit dog </a>
                {{/if}}
                <a href="/dog/schedule/{{dog._id}}">Pet this dog </a>
            </div>
             <br>
            <br>
            {{>commentFormPartial}}
        </div>
    </div>
</div>